:host {
  display: block;
  height: 100%;
}

.sidebar-container {
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.25);
  
  &.w-16 {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
  }
}

/* Custom Minimalist Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.08) transparent;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    
    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
